footer {
  width: 100%;
  background-color: $Dark_Blue;
  padding: 2rem 0;
  display: flex;
  color: $White;
  justify-content: center;

  .footer {
    width: 80%;
    display: flex;
    justify-content: space-between;

    @include mobile-sm {
      flex-direction: column;
      align-items: center;
      padding: 1rem 0;
      font-size: 1.7rem;
    }

    @include mobile-md {
      font-size: 2.5rem;
    }

    @include media-lg {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.foot-item {
  width: 50%;
  display: flex;
  justify-content: space-between;

  @include mobile-sm {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  @include media-lg {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.foot-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mobile-sm {
    width: 100%;
    align-items: center;
  }

  @include media-lg {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    // background-color: green;
    height: 7rem;
    width: 40%;
  }

  .social-icon {
    display: flex;

    justify-content: space-between;
    // background-color: green;
    padding: 0.5rem 0;
    margin: 0.5rem 0;

    &:hover {
      color: $Lime_Green;
    }

    @include mobile-sm {
      width: 60%;
    }
    @include media-lg {
      margin-top: 3rem 0;
      // background-color: red;
      width: 80%;
    }

    img {
      width: 10%;
    }
  }
}

.foot {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1rem;
  // background-color: grey;

  @include mobile-sm {
    align-items: center;
  }
  @include mobile-md {
    align-items: center;
  }
  @include media-lg {
    align-items: flex-start;
  }

  a {
    padding: 0.7rem 0;
    color: $White;
    font-size: 2rem;

    &:hover {
      color: $Lime_Green;
    }

    @include mobile-sm {
      font-size: 1rem;
    }
    // @include mobile-md {
    //   align-items: center;
    // }
    // @include media-lg {
    //   align-items: flex-start;
    // }
  }
}

.foot-invite {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  p {
    @include mobile-sm {
      font-size: 1rem;
    }
  }

  .foot-btn {
    width: 100%;
    background-image: linear-gradient(to right, $Lime_Green, $Bright_Cyan);
    color: $White;
    padding: 0.7rem 0.3rem;
    margin: 0.7rem auto;
    font-weight: 500;
    font-size: 2rem;
    border: none;
    border-radius: 20px;

    @include mobile-sm {
      width: 80%;
      font-size: 1rem;
    }
    @include mobile-md {
      width: 70%;
      font-size: 1rem;
    }
    @include media-lg {
      width: 100%;
      font-size: 1rem;
      padding: 0.7rem 0.3rem;
    }

    &.foot-btn:hover {
      opacity: 0.8;
      color: rgb(242, 240, 240);
    }
  }
}
