* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

// Color Variable

// Primary

$Dark_Blue: hsl(233, 26%, 24%);
$Lime_Green: hsl(136, 65%, 51%);
$Bright_Cyan: hsl(192, 70%, 51%);

// Neutral

$Grayish_Blue: hsl(233, 8%, 62%);
$Light_GrayishBlue: hsl(220, 16%, 96%);
$Very_LightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

// Media queries
$width: 769px;

@mixin mobile {
  @media screen and (max-width: 375px) {
    @content;
  }
}

@mixin mobile-sm {
  @media screen and (min-width: 200px) {
    @content;
  }
}

@mixin normal {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin max-nom {
  @media screen and (min-width: 700px) {
    @content;
  }
}

@mixin mobile-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1020px) {
    @content;
  }
}

@mixin media-xlg {
  @media screen and (min-width: 1440px) {
    @content;
  }
}
