header {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  // margin-bottom: 2rem;
  position: relative;
  z-index: 100;
}

.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  // background-color: sandybrown;
  align-items: center;
  padding: 1rem 0;
  position: relative;

  // navbar css
  .navbar {
    width: 40%;

    @include mobile-sm {
      width: 100%;
      position: absolute;
      height: 60vh;
      top: 4.5rem;
      left: 150%;
      border-radius: 7px;
      background-color: $White;
    }

    @include mobile-md {
      width: 40%;
      height: 0;
      position: static;
    }

    &.active {
      left: 0;
    }

    .nav-items {
      width: 100%;
      display: flex;
      justify-content: space-between;

      @include mobile-sm {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        // background-color: $White;
        width: 100%;
        height: 100%;

        font-size: 1rem;
        font-weight: 500;
      }

      @include mobile-md {
        flex-direction: row;
      }

      @include media-lg {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        // background-color: gray;
      }

      li {
        display: inline;
        a {
          color: $Grayish_Blue;
        }
      }
    }
  }
  // Buttons css
  .nav-btn {
    padding: 0.6rem 1.7rem;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    border: none;
    background-image: linear-gradient(to right, $Lime_Green, $Bright_Cyan);

    &.nav-btn:hover {
      opacity: 0.8;
    }

    @include mobile-sm {
      display: none;
    }

    @include mobile-md {
      display: block;
    }
  }

  // burger css
  .burger {
    display: none;

    // media query
    @include mobile-sm {
      display: block;
    }

    @include mobile-md {
      display: none;
    }
  }
}

.nav-item {
  transition: width 3s ease-in-out;
}

// Hover effect
.nav-item:hover {
  border-bottom: 1px solid $Lime_Green;
}

.selected {
  border-bottom: 2px solid $Lime_Green;
}
