// @import "./general";

.intro {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  // height: 70vh;

  // @include mobile-sm {
  //   height: 85vh;
  // }

  .contain {
    width: 90%;
    display: flex;
    // background-color: yellow;

    // media query
    @include mobile-sm {
      width: 100%;
      flex-direction: column;
      align-items: center;
      // background-color: red;
    }
    @include media-lg {
      flex-direction: row;
      width: 90%;
      // background-color: red;
    }

    .intro-text {
      width: 50%;
      // flex: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      // background-color: blue;

      @include mobile-sm {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
        // background-color: orange;
        margin-top: 2rem;
      }
      @include media-lg {
        order: 1;
        width: 50%;
        align-items: flex-start;
        // background-color: rosybrown;
      }

      h1 {
        width: 100%;
        padding: 1.5rem 0;
        font-size: 3rem;
        color: $Dark_Blue;
        // background-color: rgb(228, 178, 178);

        @include mobile-sm {
          width: 80%;
          padding: 1rem 0;
          font-size: 1.5rem;
          text-align: center;
          line-height: 1.3;
        }
        @include mobile-md {
          width: 85%;
          font-size: 3rem;
        }

        @include media-lg {
          width: 100%;
          font-size: 2.7rem;
          text-align: left;
        }
      }

      p {
        width: 100%;
        padding-bottom: 1.5rem;
        color: gray;
        // background-color: blue;
        @include mobile-sm {
          padding: 0.7rem;
          font-size: 1.3rem;
          text-align: center;

          // width: 90%;
        }
        @include mobile-md {
          width: 80%;
          font-size: 1.5rem;
          padding: 0.8rem;
        }

        @include media-lg {
          font-size: 1.2rem;
          text-align: left;
          padding: 1rem 0;
          width: 100%;
        }
      }

      .intro-btn {
        // width: 50%;
        background-image: linear-gradient(to right, $Lime_Green, $Bright_Cyan);
        color: $White;
        padding: 0.7rem;
        font-weight: 500;
        font-size: 1.2rem;
        border: none;
        border-radius: 20px;

        &.intro-btn:hover {
          opacity: 0.8;
        }
      }
    }

    // second Intro div with img
    .intro-img {
      width: 60%;
      // flex: 60%;
      // background-color: skyblue;
      background-image: url(./bg-intro-desktop.svg);
      background-size: cover;
      background-position: 150px -150px;
      background-repeat: no-repeat;
      position: relative;
      min-height: 17.5rem;

      // media query
      @include mobile-sm {
        width: 100%;
        display: flex;
        justify-content: center;
        order: 1;
        background-size: 917px;
        background-position: -171px -233px;
        height: 30rem;
        // background-color: rgb(189, 247, 247);
      }
      @include mobile-md {
        width: 100%;
        background-position: 140px -273px;
      }

      @include media-lg {
        order: 2;
        width: 90%;
        background-size: 150%;
        background-position: -40px -250px;
        height: 40rem;
      }

      .mock-img {
        width: 100%;
        position: absolute;
        top: -5rem;
        height: 100%;

        @include mobile-sm {
          top: -6rem;
          padding-bottom: 2rem;
          align-items: center;
          justify-content: center;
          display: flex;
          height: 90%;
          width: 100%;
        }
        @include max-nom {
          top: -2rem;
          width: 70%;
          // background-color: red;
        }

        @include media-lg {
          width: 150%;
          top: 3.5rem;
          right: 2.5rem;
        }

        @include mobile-md {
          width: 59%;
        }

        img {
          width: 80%;

          @include media-lg {
            width: 200%;
          }
        }
      }
    }
  }
}
