.service {
  width: 100%;
  // background-color: saddlebrown;
  display: flex;
  justify-content: center;

  .container-sec {
    width: 80%;
    // background-color: slategray;

    @include mobile-sm {
      width: 100%;
      align-items: center;
    }

    @include media-lg {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      // background-color: indianred;
    }
  }
}

.sec-intro {
  display: flex;
  flex-direction: column;

  @include mobile-sm {
    align-items: center;
  }

  @include media-lg {
    align-items: flex-start;
  }

  h1 {
    color: springgreen;

    @include mobile-md {
      font-size: 3rem;
    }

    @include mobile-sm {
      // align-items: center;
    }
  }

  p {
    width: 40%;
    margin: 1rem 0;

    @include mobile-sm {
      width: 90%;
      text-align: center;
      text-align: left;
      font-size: 1.2rem;
    }

    @include mobile-md {
      width: 60%;
    }
  }
}

.sec-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // justify-content: space-between;

  @include mobile-sm {
    // width: 90%;
    grid-template-columns: 1fr;
    justify-content: center;
    // background-color: green;
  }

  @include mobile-md {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  @include media-lg {
    grid-template-columns: repeat(4, 1fr);
  }

  .sec-item {
    display: flex;
    flex-direction: column;

    @include mobile-sm {
      align-items: center;
      text-align: center;
    }

    @include mobile-md {
      background-color: rgb(228, 216, 216);
      border-radius: 15px;
    }

    @include media-lg {
      align-items: flex-start;
      text-align: left;
      border-radius: 0;
      background-color: white;
    }

    img {
      padding: 1rem 0;
    }
    h3 {
      padding: 1rem 0;
    }
    p {
      padding: 1rem 0;
      color: teal;
      @include mobile-sm {
        width: 80%;
      }

      @include media-lg {
        width: 98%;
      }
    }
  }
}
